
<!DOCTYPE html>
<html ng-app="NarrowItDownApp" lang="en">
  <head>
    <title>Narrow Down Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">  
  </head>
<body> 
   <div class="container" ng-controller="NarrowItDownController as list">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
      <input ng-model="list.searchTerm" type="text" class="form-control" placeholder="search term">
      <button ng-click="list.searchMenuItems();" class="btn btn-primary">Narrow It Down For Me!</button> 
    
          <found-items found="list.found" empty="list.empty" on-remove="list.removeItem(index)"></found-items>
    
    <h2 ng-if="list.empty" class="ng-scope error">Nothing found</h2>
  </div>
</body>
</html>