<!DOCTYPE html>
<html ng-app='NarrowItDownApp'>
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
  <div class="container" ng-controller='NarrowItDownController as list'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group" >
      <input type="text" placeholder="search term" class="form-control" ng-model="list.itemDesc">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="list.getItems(list.itemDesc)">Narrow It Down For Me!</button>
    </div>
    <br>
    <br>
    <br>
    <div class="error" ng-show="list.show">Nothing found!</div>
  <br>


    <!-- found-items should be implemented as a component -->
    <div ng-show="list.display">
      <found-items
        items="list.items"
        on-remove="list.removeItem(index)">
      </found-items>
    </div>
  </div>
  <script type="text/javascript" src="angular.min.js">
    </script>
  <script type="text/javascript" src="app.js">
    </script>
</body>
</html>