body {
  font-size: 1.2em;
  text-align: center;
  background-repeat: no-repeat no-repeat;
  background-size: contain;
  background-image: url(../images/restaurant.jpg);
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

a {
  color: #3c6c97;
}

h1 {
    margin-left: 25px;
}

.image {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  font-size: 14px;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

li[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  border: solid black 1px;
  padding-left: 5px;
  padding-right: 5px;
}
